<div class="scroll-list jscroll">
  <% @posts.each do |post| %>
    <div class="card-deck text-center d-inline-flex mt-3 col-3">
      <div class="card border-0">
        <div class="card-img-top">
           <%= link_to attachment_image_tag(post, :image, format: "jpeg", size: "200x180", fallback: "no_image.jpg", class: "rounded"), admin_post_path(post.id) %>
        </div>
        <div class="card-body">
          <p class="card-title">
            <%= link_to post.title, admin_post_path(post.id) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
</div>