/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Shippori+Mincho+B1&display=swap');
 
 *{
  font-family: 'Kosugi', sans-serif;
 }
 
 
 nav.pagination {
  display: none;
}
.scroll-list {
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  opacity: .8;
}
body {
  margin-bottom: 60px;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


// スライドショー
#slide-show{
  height: 600px;
}
.top-image1 {
  background-image: url(top-img1.jpg);
}
.top-image2 {
  background-image: url(top-img2.jpg);
}
.top-image3 {
  background-image: url(top-img3.jpg);
}
.top-image4 {
  background-image: url(top-img4.jpg);
}
.top-image5 {
  background-image: url(top-img5.jpg);
}

.card:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
 }



